Source: novnc-pve
Section: web
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               esbuild,
               quilt,
Standards-Version: 4.6.2
Homepage: https://github.com/kanaka/noVNC/

Package: novnc-pve
Architecture: all
Depends: ${misc:Depends},
Description: HTML5 VNC client
 VNC client using HTML5 (WebSockets, Canvas). This packet is use by
 Proxmox VE to provide HTML VM console.
