Source: novnc-pve
Section: web
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 11~),
               node-es6-module-transpiler,
               quilt,
Standards-Version: 4.1.3
Homepage: https://github.com/kanaka/noVNC/

Package: novnc-pve
Architecture: all
Depends: ${misc:Depends},
Description: HTML5 VNC client
 VNC client using HTML5 (WebSockets, Canvas). This packet is use by
 Proxmox VE to provide HTML VM console.
