#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1
DEB_VERSION = $(shell dpkg-parsechangelog -SVersion)

%:
	dh ${@} --with quilt

override_dh_auto_build:
	compile-modules convert -f bundle app/ui.js > app.js
	dh_auto_build

override_dh_install:
	cp vnc.html index.html.tpl
	sed -i -re "s/\.(css|js)/\.\1?ver=${DEB_VERSION}/g" index.html.tpl
	dh_install
