#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1

%:
	dh ${@} --with quilt

override_dh_auto_build:
	compile-modules convert -f bundle app/ui.js > app.js
	dh_auto_build

override_dh_install:
	cp vnc.html index.html.tpl
	sed -i -re "s/\.(css|js)/\.\1?ver=${DEB_VERSION_UPSTREAM_REVISION}/g" index.html.tpl
	dh_install
